extends layout

block content
	<div id="fb-root"></div>
	<script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=513959572004903";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
	.flat-back.game-back
		.col-md-6
			h4= "Jeu"
			.col-md-12
				#timerText= "En attente de la prochaine partie."
			canvas#game(width="500", height="300").
				You need a more recent navigator!
			.col-md-12
				#score-board
			.col-md-12
				button.btn.btn-sm.btn-primary(type="button",data-toggle="modal",data-target="#helper",style="margin-top:-30px;").
					Comment jouer?
				<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://click-game.azurewebsites.net/" data-text="Venez jouer!" data-lang="fr" data-size="large">Tweeter</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				div(style="margin-top:-30px !important;margin-left:205px;")
					<div class="fb-share-button" data-href="http://click-game.azurewebsites.net/" data-layout="button"></div>
		.col-md-2.block-score
			h4= "Scores"
			ul#userList
				if users
					each usr in users
						li(id="name_"+usr)= usr
							span.score= "0"
		.col-md-4.block-chat
			if pseudo
				input#HiddenName(type="hidden",value=pseudo)
				h4= "Chat"

			div#msgContainer
				if messages
					each msg in messages
						div.message
							h4= msg.Name
							p= msg.Text
			form#msgForm
				.input-group
					input.form-control#sendMsgText
					span.input-group-btn
						button.btn.btn-success#sendMsgButton(type="button")= "Envoyer"

		#helper.modal.fade(tabindex="-1", role="dialog",aria-labelledby="myModalLabel")
			.modal-dialog
				.modal-content
					.modal-header
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Comment jouer</h4>
					.modal-body
						<p>Pour jouer il suffit seulement de cliquer sur les bules pendant la periode de temps (60 secondes). Pour gagner il faut être le plus rapide et ne pas cliquer à coter (-50 points). Pour discuter avec les autres participants un chat est à votre disposition.</p>
						<p><strong>Bon Jeu!</strong></p>
						<p></p>
						<p>Ce jeu est en temps réel les points s'affiche au meme momment au meme endroit chez tout les participants.</p>
						<p></p>
						<p><span class="small">Dévellopé grace à Node.JS, socket.io, Express.js et Bootstrap par <a href="http://lucas.zientek.fr">Lucas ZIENTEK</a>.</span></p>


			